{% load verbose_name %}
<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">
    {% if bucketuser.profile_picture.name and bucketuser.profile_picture.name != "False" %}
      <a class=""
         href="{{ bucketuser.profile_picture.url }}"><img
          src="{{ bucketuser.profile_picture.url }}" class="pull-left profile-pic"
          alt="{{ bucketuser }} profile picture"/></a>
      <div class="clearfix"></div>
    {% endif %}
    <p class="profile-row">
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="profile-element">{{ bucketuser.user.email|urlize }}</span>
    </p>
    {% for name, value in bucketuser.get_fields %}
      {% with "blog_url homepage_url" as profile_fields %}
        {% if name in profile_fields and value %}
          <p class="profile-row">{% verbose_name bucketuser name %}: {{ value|urlize }}</p>
        {% endif %}
      {% endwith %}
    {% endfor %}
    {% if user == bucketuser.user or user.is_superuser %}
      <div class="pull-right">
        <a href="{% url 'user_profile' bucketuser.user.username %}"
           role="button" class="btn btn-primary">Edit profile</a>
      </div>
    {% endif %}
    <div class="clearfix"></div>
  </div>
</div>
