<!doctype html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171172777-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171172777-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Digital Cielo {% block title %}{% endblock %}</title>

  {% load staticfiles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/841887053c.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#563d7c">

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'contents_page' %}">Digital Cielo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% url 'search_external_data' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">Global search</a>
      </li>
      {% url 'lists_page' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">Lists</a>
      </li>
      {% comment %}
      {% url 'movies_page' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">Movies</a>
      </li>
      {% url 'tvshows_page' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">TV Shows</a>
      </li>
      {% url 'books_page' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">Books</a>
      </li>
      {% url 'youtube_page' as url %}
      <li class="nav-item {% if url == request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url }}">Youtube</a>
      </li>
      {% endcomment %}
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated and user.is_active %}
        <li class="nav-item dropdown {% if '/users/' in request.path or '/accounts/' in request.path %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
            <a class="dropdown-item {% if '/users/{{ user.username }}' in request.path %}active{% endif %}" href="{% url 'user' user.username %}">Profile</a>
            {% url 'all_bookmarks' user.username as url %}
            <a class="dropdown-item {% if url == request.path %}active{% endif %}" href="{{ url }}">Bookmarks</a>
            {% url 'all_user_lists' user.username as url %}
            <a class="dropdown-item {% if url == request.path %}active{% endif %}" href="{{ url }}">My Lists</a>
            {% url 'all_bookmarked_lists' user.username as url %}
            <a class="dropdown-item {% if url == request.path %}active{% endif %}" href="{{ url }}">Bookmarked Lists</a>
            <hr>
            {% if user.is_staff %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
            {% endif %}
            {% url 'account_change_password' as url %}
            <a class="dropdown-item {% if url == request.path %}active{% endif %}" href="{{ url }}">Change password</a>
            {% url 'logout' as url %}
            <a class="dropdown-item {% if url == request.path %}active{% endif %}" href="{{ url }}">Logout</a>
          </div>
        </li>
      {% else %}
        {% url 'account_signup' as url %}
        <li class="nav-item {% if url == request.path %}active{% endif %}">
          <a class="nav-link" href="{{ url }}">Sign up</a>
        </li>
        {% url 'account_login' as url %}
        <li class="nav-item {% if url == request.path %}active{% endif %}">
          <a class="nav-link" href="{{ url }}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="message {% if message.tags %}message-{{ message.tags }}{% endif %} text-center" role="alert">
        <div class="container">{{ message }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<main role="main" class="container">

<div class="container-fluid">
  {% block content %}{% endblock %}
</div>

</main><!-- /.container -->

<div class="footer">
  <div class="container">
    <p class="text-muted">
      &copy; Digital Cielo
    </p>
  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</html>
