{% extends "base.html" %}

{% block title %}
  Lists
{% endblock %}

{% block content %}
<div class="container col-lg-10 offset-lg-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1 class="text-center">Lists</h1>
      <hr/>
    </div>
    <div class="col-md-8 offset-md-2">
      {% for list in lists %}
      {% include 'lists/snippets/list_card.html' %}
      {% endfor %}
    </div>
    <div class="col-sm-12 text-center">
      {% include 'common/snippets/pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}
