{% extends "base.html" %}

{% block title %}
  List - {{ list.name }}
{% endblock %}

{% block content %}
<div class="container col-lg-10 col-lg-offset-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1>
        {% if list.name == 'Bookmarks' %}
        {{ list_user }}'s Bookmarks
        {% else %}
        {{ list.name }}
        {% endif %}

        {% if bucketuser != list.user %}
        {% include 'lists/snippets/bookmark_list.html' %}
        {% else %}
        <a class="btn text-muted">
          {% if list.visibility == 'private' %}
          <i class="fas fa-lock"></i>
          {% else %}
          <i class="fas fa-lock-open"></i>
          {% endif %}
        </a>
        {% endif %}
        {% if bucketuser == list.user %}
        <span class="right">
          {% if list.name != 'Bookmarks' %}
          <a class="btn" href="{% url 'add_to_list_from_list_page' list.slug %}">
            <i class="fas fa-plus"></i>
          </a>
          <a class="btn" href="{% url 'edit_list' list.slug %}"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn" href="{% url 'delete_list' list.slug %}"><i class="fas fa-trash-alt"></i></a>
          {% endif %}
        </span>
        {% endif %}
      </h1>
      <p>created by <a href="{{ list.user.get_absolute_url }}">{{ list.user }}</a></p>
      <hr/>
      <p>{{ list.description | linebreaks}}</p>
      {% for topic in list.topics.all %}
      <a class="text-muted small inline" href="{{ topic.get_absolute_url }}">{{ topic }}</a>
      {% endfor %}
      <p class="text-muted small inline">
        {{ number_of_items }} items &nbsp;
        <!-- Button trigger modal -->
        <span type="button" data-toggle="modal" data-target="#exampleModalCenter">
          {{ number_of_bookmarks }} bookmark{{ number_of_bookmarks|pluralize }}
        </span>
      </p>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body text-center">
              <ul class="list-unstyled">
                {% for user in list_bookmarked_by %}
                <li><a href="{{ user.get_absolute_url }}">{{ user }}</a></li>
                {% empty %}
                No bookmarks yet
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 offset-md-2">
        {% for content in list_content %}
        {% include 'subjects/snippets/content_card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
