<div class="dropdown d-inline-block">
  <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="far fa-plus-square"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for list in bucketuser.list_set.all %}
    <a class="dropdown-item" href="#">
      {% if content in list.content.all %}
      <i class="fas fa-check-square"></i>
      {% else %}
      <i class="far fa-square"></i>
      {% endif %}
      &nbsp;{{ list.name }}
    </a>
    {% endfor %}
    <a class="dropdown-item" href="{% url 'add_list' %}">
      <i class="fas fa-plus"></i>&nbsp; Add list
    </a>
  </div>
</div>
