{% load static %}

<div class="card border-light mb-3">
  <div class="card-body">
    <div class="row  no-gutters">
      <div class="col-4 col-lg-3">
        {% if content.image %}
        <img class="card-image img-fluid" src="{{ content.image_thumbnail.url }}" />
        {% else %}
        <img class="card-image img-fluid" src="{% static 'img/cover.png' %}" />
        {% endif %}
      </div>
      <div class="col-8 col-lg-9 left">
        <h3 class="card-title">
          <a class="card-link" href="{% url 'view_content' content.slug %}">{{ content.title | truncatechars:30 }}</a>
        </h3>
        <br>
        {% for topic in content.topics.all %}
        <a class="text-muted small inline" href="{{ topic.get_absolute_url }}">{{ topic }}</a>
        {% endfor %}
      </div>
      <div class="col-12">
        {% include 'subjects/snippets/bookmark_content.html' %}
        {% if not '/list/' in request.path and not '/bookmarks/' in request.path %}
        {% include 'lists/snippets/add_to_list_from_contents_page.html' %}
        {% endif %}
        {% if '/list/' in request.path and list.user == bucketuser and list.name != 'Bookmarks' %}
        <a class="btn" href="{% url 'remove_from_list' list.slug content.slug %}?next={{ request.path }}"">
          <i class="fas fa-minus-square"></i>
        </a>
        {% endif %}
        <div class="right">
          <p class="small"><em>{{ content.get_type_display }}</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
