{% extends "base.html" %}

{% block title %}
  {{ subject }}
{% endblock %}

{% block content %}
<div class="container col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 mt40">
  <div class="row mt40">
    <div class="col-md-12">
      <h1 class="text-center">{{ subject }}</h1>
      <hr/>
    </div>
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center" role="tablist">
        <li {% if 'books' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="books-tab" data-toggle="pill" role="tab" href="#books" aria-controls="books">Books</a>
        </li>
        <li {% if 'movies' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="movies-tab" data-toggle="pill" role="tab" href="#movies" aria-controls="movies">Movies</a>
        </li>
        <li {% if 'documentaries' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="documentaries-tab" data-toggle="pill" role="tab" href="#documentaries" aria-controls="documentaries">Documentaries</a>
        </li>
        <li {% if 'websites' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="websites-tab" data-toggle="pill" role="tab" href="#websites" aria-controls="websites">Websites</a>
        </li>
        <li {% if 'youtube-channels' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="youtube-channels-tab" data-toggle="pill" role="tab" href="#youtube-channels" aria-controls="youtube-channels">YouTube Channels</a>
        </li>
        <li {% if 'social-media' in request.path %} class="active" {% endif %}>
          <a class="nav-link" id="social-media-tab" data-toggle="pill" role="tab" href="#social-media" aria-controls="social-media">Social Media</a>
        </li>
      </ul>
      <div class="tab-content mt40">
        <div class="tab-pane fade show active" role="tabpanel" id="books" aria-labelledby="books-tab">
          {% for t in book %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img class="card-image img-fluid" src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="movies" aria-labelledby="movies-tab">
          {% for t in movie %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="documentaries" aria-labelledby="documentaries-tab">
          {% for t in documentary %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="websites" aria-labelledby="websites-tab">
          {% for t in website %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="youtube-channels" aria-labelledby="youtube-channels-tab">
          {% for t in yt_channel %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="tab-panes fade show" role="tabpanel" id="social-media" aria-labelledby="social-media-tab">
          {% for t in social_media %}
          <div class="card border-light text-center mb-3">
            <h3>{{ t.title }}</h3>
            <b><em>{{ t.creator }}</em></b>
            {% if t.image %}
            <img src="{{ t.image_thumbnail.url }}" alt="Image" style="width: 100px" />
            {% endif %}
            {% if t.description %}
            <p>{{ t.description | linebreaks | urlize }}</p>
            {% endif %}
            {% if t.link %}
            <p>{{ t.link | linebreaks | urlize }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
