{% extends "base.html" %}

{% block title %}
  Delete {{ object.name }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row mt40">
  <div class="col-md-12">
    <h2>Confirm to delete "{{ object.name }}"</h2>
    <hr/>
  </div>
  <div class="col-md-12">
    <form action="{% url 'delete_list' object.slug %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger" />
  </form>
  </div>
</div>
{% endblock %}
