{% extends "base.html" %}

{% block title %}
  Paths
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container col-lg-10 offset-lg-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1 class="text-center">
        Paths
        <a class="btn btn-sm" href="{% url 'add_path' %}"><i class="fas fa-plus"></i></a>
      </h1>
      <hr/>
    </div>
    <div class="col-md-8 offset-md-2">

      <form method="GET">
        <div class="form-inline d-flex justify-content-center">
          <div class="form-group mx-sm-3 mb-2">
            {{ filter.form.goal | as_crispy_field }}
            <button class="btn mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-filter"></i>
            </button>
            <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
          </div>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <p>Topics</p>
            <div class="form-group">
              {% for checkbox in filter.form.topics %}
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                {{ checkbox.tag }} {{ checkbox.choice_label }}
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>

      {% for path in filter.qs %}
      {% include 'paths/snippets/path_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
