{% extends "base.html" %}

{% block title %}
  Path - {{ path.goal }}
{% endblock %}

{% load static %}
{% block content %}
<div class="container col-lg-10 col-lg-offset-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1>
        {{ path.goal }}
        <a class="btn text-muted">
          {% if path.visibility == 'private' %}
          <i class="fas fa-lock"></i>
          {% else %}
          <i class="fas fa-lock-open"></i>
          {% endif %}
        </a>
        {% if bucketuser == path.user %}
        <span class="right">
          <a class="btn" href="{% url 'add_to_path' path.slug %}">
            <i class="fas fa-plus"></i>
          </a>
          <a class="btn" href="{% url 'edit_path' path.slug %}"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn" href="{% url 'delete_path' path.slug %}"><i class="fas fa-trash-alt"></i></a>
        </span>
        {% endif %}
      </h1>
      <hr/>
      <p>{{ path.description | linebreaks}}</p>
      {% for topic in path.topics.all %}
      <a class="text-muted small inline" href="{{ topic.get_absolute_url }}">{{ topic }}</a>
      {% endfor %}
      <p class="text-muted small inline">
        {{ number_of_items }} items &nbsp;
        {{ percent_complete }}% completed
      </p>
      <div class="col-md-8 offset-md-2">
        {% for content in path_content %}

        <div class="card border-light mb-3">
          <div class="card-body">
            <a class="card-link" href="{% url 'mark_completed' path.slug content.content.slug %}">
              {% if content.completed %}
              <i class="fas fa-check-square"></i>
              {% else %}
              <i class="far fa-square"></i>
              {% endif %}
            </a>
            <a class="card-link" href="{% url 'view_content' content.content.slug %}">
              {{ content.content.title }}
            </a>
            <p class="small right">
              <em>{{ content.content.get_type_display }}</em>
              {% if path.user == bucketuser %}
              <a class="btn" href="{% url 'remove_from_path' path.slug content.content.slug %}"">
                <i class="fas fa-minus-square"></i>
              </a>
              {% endif %}
            </p>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
