{% extends "base.html" %}

{% block title %}
  {{ bucketuser }} - Bookmarks
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container col-lg-10 col-lg-offset-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1 class="text-center">Bookmarks</h1>
      <hr/>
    </div>
    <div class="mb40"></div>
    <div class="col-sm-3">
      <form method="GET">
        {{ filter.form | crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="col-sm-9">
      {% for content in filter.qs %}
      {% include 'subjects/snippets/content_card.html' %}
      {% endfor %}
    </div>
    <div class="col-sm-12 text-center">
      {% include 'common/snippets/pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}
