{% extends "base.html" %}

{% block title %}
  {{ content }}
{% endblock %}

{% block content %}
<div class="container col-lg-10 col-lg-offset-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1>
        {{ content }}
        {% if user.is_superuser %}
        <span class="right">
          <a class="btn" href="{% url 'edit_content' content.slug %}"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn" href="{% url 'delete_content' content.slug %}"><i class="fas fa-trash-alt"></i></a>
        </span>
        {% endif %}
      </h1>
      <em>{{ content.creator }}</em>
      <div class="mb40"></div>
      {% if content.content_url %}
      <p><a href="{{ content.content_url }}" target="_blank">{{ content.url_text }}</a></p>
      {% endif %}
      {% for tag in content.tags.all %}
      <a class="text-muted small inline" href="{{ tag.get_absolute_url }}">{{ tag }}</a>
      {% endfor %}
      <p class="text-muted small inline">
        <!-- Button trigger modal -->
        <span type="button" data-toggle="modal" data-target="#exampleModalCenter">
          {% if number_of_bookmarks == 1 %}
          {{ number_of_bookmarks }} bookmark
          {% else %}
          {{ number_of_bookmarks }} bookmarks
          {% endif %}
        </span>
      </p>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body text-center">
              <ul class="list-unstyled">
                {% for user in content.bookmarked_by.all %}
                <li><a href="{{ user.get_absolute_url }}">{{ user }}</a></li>
                {% empty %}
                No bookmarks yet
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% include 'subjects/snippets/bookmark_content.html' %}
      {% include 'subjects/snippets/add_to_list.html' %}
    </div>
  </div>
</div>
{% endblock %}
