{% extends "base.html" %}

{% block title %}
  {{ subject }}
{% endblock %}

{% block content %}
<div class="container col-lg-10 offset-lg-1 mt40">
  <div class="row mt40">
    <div class="col-sm-12">
      <h1 class="text-center">{{ subject }}</h1>
      <hr/>
    </div>
    <div class="col-sm-9">
      {% for content in subject_content %}
      {% include 'subjects/snippets/content_card.html' %}
      {% endfor %}
    </div>
    <div class="col-sm-12 text-center">
      {% include 'common/snippets/pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}
