{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 mt40">
    <h1 class="contact-head">Contact Us</h1>
    <hr>
    <p class="contact-text">
      You can mail us on <a href="mailto:bucket@abc.com">bucket@abc.com</a>.
    </p>
    <p class="contact-text">
      You can also connect with us on our social networks.
    </p>
    <div class="contact-social">
      <a href="#" target="_blank"><i class="fa fa-facebook-official fa-2x contact-icon facebook_icon"></i></a>
      <a href="#" target="_blank"><i class="fa fa-twitter fa-2x contact-icon twitter_icon "></i></a>
    </div>
    <div class="mt40"></div>
  </div>
{% endblock %}
